<ion-view>
    	  
        <ion-content has-header="true" has-subheader="true" padding="true" style="text-align:center;">            
		<div class= "row row-top" > 
		  <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/temperatura-humedad"><div class="iconometeo"><img src="img/temperaturayhumedad-icono.png"/></div>Temperatura y Humedad</a></div>
         <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/precipitacion"><div class="iconometeo"><img src="img/precipitaciones-icono.png"/></div>Precipitaciones</a></div>
		  <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/presionyviento"><div class="iconometeo"><img src="img/presionyviento-icono.png"/></div>Presión y Viento</a></div>
         
       </div>
	   <div class= "row row-end" > 
		  <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/vientosyoleajes"><div class="iconometeo"><img src="img/vientosyoleajes.png"/></div>Vientos y Oleajes</a></div>
         <div class="col col-33"><a class="texto-boton-meteo" ng-click="goaemet()"><div class="iconometeo"><img src="img/aemet-icono.png"/></div>Aemet</a></div>
		  <div class="col col-33"><a class="texto-boton-meteo" ng-click="goguru()"><div class="iconometeo"><img src="img/windguru.png"/></div>Windgurú</a></div>
         
       </div>      
          
  </ion-content>
</ion-view>