<ion-view>    	  
        <ion-content has-header="true" has-subheader="true" padding="true" style="text-align:center;">            
		<div class= "row row-top" > 
            <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/vientosyoleajes/pitur"><div class="iconometeo"><img src="img/temperaturayhumedad-icono.png"/></div>Pitur</a></div>
            <div class="col"></div>
            <div class="col col-33"><a class="texto-boton-meteo" href="#/tab/vientosyoleajes/oleaje"><div class="iconometeo"><img src="img/precipitaciones-icono.png"/></div>Oleaje</a></div>
        </div>  
  </ion-content>
</ion-view>