<ion-view>
    
  <ion-content class="top2" padding="true">
       <!-- <div class="row row-titulo">
            <h2 class="title">{{ciudad.name}}</h2>
        </div> -->       
        <section class="noticia">
            <div class="row row-titulo">
                <h4>Datos de Contacto</h4>
            </div>
            <hr>
            Punta de San Felipe S/N
            <br>
            11004 - Cádiz
            <br>
            <br>
            puertoamerica@eppa.es
            <br>
            Tel: 856 580 002-600 148 523
            <br>
            Fax: 956 101 032
            <br>
        </section>
       
      <div style="text-align:center;background-color:transparent;height:auto;border: none;
                  bottom: initial;background:transparent;display:block;position:relative;" class="bar">
  <div class= "row row-top" > 
		  <div class="col"><a class="texto-boton-meteo" href="#/tab/mipuerto/info-tecnica/{{ciudad.id}}"><div class="iconometeo"><img src="img/INFORMACIONTECNICA.png"/></div>Información Técnica</a></div>
         <div class="col"><a class="texto-boton-meteo" href="#/tab/mipuerto/puerto-videos-foto"><div class="iconometeo"><img src="img/MULTIMEDIA.png"/></div>Multimedia</a></div>
      <div class="col"><a class="texto-boton-meteo" href="#/tab/mipuerto/avisos"><div class="iconometeo"><img src="img/AVISOS.png"/></div>Avisos</a></div>
      <div class="col"><a class="texto-boton-meteo" href="#/tab/presionyvientomazagon"><div class="iconometeo"><img src="img/FORO.png"/></div>Foro</a></div>
         
       </div>
</div>
  </ion-content>
</ion-view>