<ion-view>    
  <ion-content has-header="true" has-subheader="true" scroll="false" data-tap-disabled="true">
    <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging">&nbsp</google-map>
      <div style="text-align:center;background-color:transparent;height:auto;border: none;
                  bottom: initial;background:transparent;display:block;position:relative;" class="bar">
  <div class= "row row-top" > 
		  <div class="col"><a class="texto-boton-meteo "  href="#/tab/mipuerto/ficha-puerto"><div class="iconometeo"><img src="img/FICHA_PUERTOS.png"/></div>Ficha del Puerto</a></div>
         <div class="col"><a class="texto-boton-meteo "  href="#/tab/mipuerto/servicios"><div class="iconometeo"><img src="img/SERVICIOS_PUERTOS.png"/></div>Sericios del Puerto</a></div>
      <div class="col"><a class="texto-boton-meteo " href="#/tab/presionyvientomazagon"><div class="iconometeo"><img src="img/SERVICIOS_LOCALES.png"/></div>Servicios Locales</a></div>
         
       </div>
</div>
  </ion-content>
</ion-view>