<ion-view>
    
  <ion-content class="top2" padding="true">
       <!-- <div class="row row-titulo">
            <h2 class="title">{{ciudad.name}}</h2>
        </div> -->
      <section class="noticia">
            <div class="row row-titulo">
                <h4>Información Técnica</h4>
            </div>
            <hr>
            <!--{{ciudad.infotec}}-->
            <p><strong>Municipio:</strong> Ayamonte</p>
<p><strong>Provincia:</strong> Huelva</p>
<p><strong>Coordernadas:</strong> Bocana Sur Dársena de Recreo</p>
<p><strong>Latitud:</strong> 37° 12' 35.09" N</p>
<p><strong>Latitud:</strong> 7° 24' 34.93" O</p>
<p><strong>Balizamiento:</strong> Barra y Canal de Acceso</p>
<p><strong>Carta Naútica:</strong> 441 - 4411</p>
<p><strong>Funcion:</strong> Deportiva, Pesquera y Comercial</p>
        </section>
  </ion-content>
</ion-view>