<ion-view>    
  <ion-content has-header="true" has-subheader="true" padding="true">
      <div class="row row-center">
          <section class="info-dest">
          <span>Plano general</span><br>
			<cite></cite>
          </section>
      </div>
      <div class= "row row-top" style="text-align:center;"> 
		  <div class="col"><a class="texto-boton-meteo "  href="#/tab/act/noticias"><div class="iconometeo"><img src="img/ICONO-DE-ACCESOS.png"/></div>Accesos</a></div>
         <div class="col"><a class="texto-boton-meteo "  href="#"><div class="iconometeo"><img src="img/ICONO-DE-SERVICIOS.png"/></div>Servicios</a></div>
     <div class="col"><a class="texto-boton-meteo " href="#/tab/mipuerto/servicios/directorio-emp"><div class="iconometeo"><img src="img/ICONO-DE-DIRECTORIODEEMPRESAS.png"/></div>Directorio de empresas</a></div>
        
       </div>
    <div class= "row row-top" style="text-align:center;"> 
		  <div class="col"><a class="texto-boton-meteo"  href="#/tab/act/lista-espera"><br><div class="iconometeo"><img src="img/ICONO-DE-HORARIOS.png"/></div>Horarios</a></div>
          <div class="col"></div>
         <div class="col"><a class="texto-boton-meteo" href="http://www.eppa.es/tarifas/"><br><div class="iconometeo"><img src="img/ICONO-TARIFAS.png"/></div>Tarifas</a></div>
    </div>
	   
  </ion-content>
</ion-view>