<ion-view>
	  <ion-content has-header="true" has-subheader="true" padding="true" class="fondo-blanco">
         <div class="content">
         
    <div class="embed-container-temp" style="overflow: auto; -webkit-overflow-scrolling: touch;">
        <div class="row">
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/01%20ayam%20pd%20vp%201999.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/1.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/aya_alpedi.jpg"></div>
</div>
        <div class="row">
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/aya_alpedi%203.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/aya_alpedi%202.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/CARTEL_PTO_AYAMAMONTE_D7C5866.jpg"></div>
</div>
        <div class="row">
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/AYAMONTE_PTO_PESQUERO_D7C5943.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/AYAMONTE_PUNTO_LIMPIO_D7C5905.jpg"></div>
  <div class="col"><img class="thumbnail" src="http://www.eppa.es/images/fotos_puertos/ayamonte/AYAMONTE_PTO_PESQUERO_D7C5943.jpg"></div>
</div>
    </div>
</div>   

</ion-view>