<ion-view>    
  <ion-content padding="true" class="top2">
      <div class="list">

  <div class="item item-input item-select">
    <div class="input-label">
      Puerto
    </div>
    <select>
      <option>Puerto de Ayamonte</option>
      <option selected>Puerto de Barbate</option>
      <option>Puerto Isla Cristina</option>
        <option>Puerto America</option>
        <option>Puerto El Terrón</option>
    </select>
  </div>
   <div class="item item-input item-select">
    <div class="input-label">
      Eslora
    </div>
    <select>
      <option>8/3,00 MTS</option>
      <option selected>10/3,50 MTS</option>
      <option>12/4,00 MTS</option>
        <option>15/4,50 MTS</option>
    </select>
  </div>

</div>
      <div class="row">
            <button style="margin-left: auto;margin-right: auto;" class="button button-positive">
  CONSULTAR
</button></div>
    </ion-content>
</ion-view>